mixin embed16x9(youtubeTag)
  div(class="embed-responsive embed-responsive-16by9")
    iframe(class="embed-responsive-item lozad" data-src=`https://www.youtube.com/embed/${youtubeTag}` allowfullscreen)